body{
    background-color: #292632;
}
h1 , h2 , h3 , p{
    color: white;
}
header{

    /* fundo e posição */
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background-image: url("imagens/fundo.jpg")
}

.imagem-arredondada {
    border-radius: 50%;
}

#img {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    
}

#texto{
    width:600px;
    display: inline-block;
    line-height: 20px;
}

#texto h2 {
    line-height: 5px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}
#texto p{
    font-size:18px;
    line-height: 30px;
}

#texto hr{
    
    width:200px;
    margin: 30px;
    
}
.divPadrao{
    margin: 100px 200px;
    display: flex;
    justify-content: center;
    font-family: PT Sans;
    
}
