body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header about"
    "header education"
    "header projects"
    "header contact";
    min-height: 100vh;
}

@media (max-width: 1080px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
      "header"
      "about"
      "education"
      "projects"
      "contact";
    }
}

header {
    grid-area: header;
    background-color: #292632;
    color: white;
    padding: 1rem;
    text-align: center;
}

.left-bg {
    grid-area: about;
    background-color: white;
}

.card {
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.education {
    grid-area: education;
}

.projects {
    grid-area: projects;
}

.contact {
    grid-area: contact;
}

.imagem-arredondada {
    display: inline-block;
    vertical-align: top;
    height: 150px;
    border-radius: 50%;

}

.slider-container {
    width: 50%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    min-width: 50%;
    height: 100px;
    background-size: cover;
}

.slide a {
    display: block;
    width: 50%;
    height: 50%;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 100px;
    cursor: pointer;
    border-style: groove;
    border: none;
    font-family: Arial; /* Escolha uma fonte bonita */
    font-size: 18px;
    color: white;
    background-color: #0b0322;

  }

  .btn:hover {
    background-color: #e0e0e0;
    color: #0b0322;
  }

  .btn:active {
    background-color: #e0e0e0;
    color: #0b0322;
  }

  .btn:focus {
    outline: none;
  }

.close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
  }

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog{
    border: none;
    border-radius: .5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}
.container {
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  .container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .input-group {
    margin-bottom: 15px;
  }
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .input-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
  }
  .input-group button {
    background-color: #0b0322;;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
  }

  nav {
    color: white;
    text-align: center;

  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  nav li {
    margin-right: 20px;
  }
  nav a {
    color: white;
    text-decoration: none;
  }

  .navbar{
    
padding-left: 3rem;
padding-bottom: 1rem;
  }